div.gallery {
  /* margin: 5px; */
  /* border: 1px solid #ccc; */
  /* float: left; */
  /* width: 180px; */
  width: 18vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
  height: 97vh;
}

#columnA {
  width: 40%;
  height: 100%;
}

#columnB{
  width: 60%;
  height: 100%
}

.row1{
  width: 100%;
}
